/* REVIEWS */
.reviews-pg {
  background-color: #2b2b2b;
  position: relative;
  min-height: 200vh;
  background: linear-gradient(#dad1d4, #59c65b);
  /* background-image: url("../icons/paintingStrips.png"); */
  text-align: center;
}
.reviews-pg section {
  background-color: #2b2b2b;
  position: relative;
  height: auto;
  max-height: 80vh;
  display: flex;
  text-align: center;
}
.reviews-pg section img {
  height: auto;
  overflow: hidden;
  object-fit: cover;
}
.reviews-pg section h1,
.reviews-pg section h2,
.review-introduction h1 {
  margin: auto;
  position: relative;
  width: 90%;
  font-size: 5rem;
  text-shadow: -1px 0 black, 0 6px black, 1px 0 black, 0 -1px black;
  color: white;
}
.reviews-pg section h2 {
  font-family: var(--stencil-font);
  font-size: 8rem;
}
.reviews-pg .hero-txt {
  margin: auto;
}
.review-introduction {
  min-height: 90vh;
  flex: 40rem 2 1;
  background: url('../icons/toolsVector.png');
  /* background-size:; */
  background-repeat: no-repeat;
  background-position: right 35% top -65%;
  background-color: #dad8dd;
}
.review-introduction h1 {
  position: relative;
  letter-spacing: 2rem;
  margin-top: 8rem;
  font-size: 7rem;
}

/* .reviews{
  flex: 1 1 40rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: url("../icons/paintingStrips.png")
} */

.review-form {
  flex: 40rem 2 1;
  background: url('../icons/toolsVector.png');
  /* background-size:; */
  background-repeat: no-repeat;
  background-position: right 35% top 170%;
  background-color: #dad8dd;
  min-height: 70vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

/* SLIDER */
.review-slider-buttons {
  display: inline;
}
.reviews-pg button {
  background-color: rgb(123, 123, 144);
  height: 100px;
  width: 200px;
  color: white;
  padding: 3rem;
  margin-right: 6rem;
  margin-bottom: 3rem;
  border: black 3px solid;
  border-radius: 10%;
}
.reviews-pg button:hover {
  background-color: #dad8dd;
  color: black;
}

.slider-container {
  z-index: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  background: url('../images/wood-877368_1920.jpg');
  flex: 1 1 40rem;
  align-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 35% top 50%;
  height: 800px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: auto;
  padding: 8rem;
}

/* for the date */
.card .details section {
  z-index: -1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  padding: 20px 0;
  background-color: #dad8dd;
  /* border: black 2px solid; */
  border-bottom: black 2px solid;
  border-top: black 2px solid;
  border-left: black 2px solid;
  min-width: 560px;
  width: 90%;
  margin: auto;
}
.card .details section h5 {
  font-size: 4rem;
}
.card h6 {
  font-size: 20px;
}
/* for index of card */
.card .index {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(78, 13, 13);
  line-height: 40px;
  font-size: 34px;
  position: absolute;
  top: 1;
  right: 0;
  display: block;
  padding: 0 10px;
  border: black 3px solid;
}

.cards-slider-wrapper {
  display: none;
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.445, 0.03, 0.515, 0.955);
}
.cards-slider-wrapper .card {
  /* display: none; */
  flex: 1;
  min-width: 300px;
  opacity: 0.9;
  transform: scale(0.8);
  box-shadow: none;
  background-color: white;
  border-color: white;
  transition: opacity 300ms linear, border-color 300ms linear,
    background-color 300ms linear,
    transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.cards-slider-wrapper .card .details {
  opacity: 0;
  border: purple 1px solid;
  transition: opacity 150ms linear;
  /* display: none; */
}
.card {
  border: orange 5px solid;
  flex: 1;
  opacity: 0.5;
  height: 500px;
  transform: scale(0.7);
  transition: (
    opacity 300ms linear,
    transform 300ms cubic-bezier(0.445, 0.03, 0.515, 0.955)
  );
  /* border: 3px #f3f3f3 solid; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}
.cards-slider {
  position: relative;
  /* max-width: 226px; */
  /* border: blue 100px solid; */
  min-width: 600px;
  margin: 0 auto;
  /* display: none; */
}
.cards-slider:after {
  content: '';
  display: block;
  min-width: 587px;
  min-height: 490px;
  height: 425px;
  /* outline: 5px / solid #61dafb; */
  position: absolute;
  top: 0;
  left: 0;
  border: rgb(116, 64, 64) 5px solid;
  display: none;
  /* background-image: url("../icons/logo.png"); */
}
.col {
  height: 364px;
  position: relative;
  border: purple 5px solid;
}
.col:before,
.col:after {
  content: '';
  display: block;
  width: 40%;
  height: 166%;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 2; */
}
.col:after {
  left: auto;
  right: 0;
}
.cards-slider.active-slide-0 #card-0 {
  opacity: 1.5;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  /* display: none; */
}
.cards-slider.active-slide-0 #card-0 .details {
  opacity: 1;
}
.cards-slider.active-slide-1 #card-1 {
  opacity: 1.5;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.cards-slider.active-slide-1 #card-1 .details {
  opacity: 1;
}
.cards-slider.active-slide-2 #card-2 {
  opacity: 1.5;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.cards-slider.active-slide-2 #card-2 .details {
  opacity: 1;
}
.cards-slider.active-slide-3 #card-3 {
  opacity: 1.5;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.cards-slider.active-slide-3 #card-3 .details {
  opacity: 1;
}
.cards-slider.active-slide-4 #card-4 {
  opacity: 1.5;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.cards-slider.active-slide-4 #card-4 .details {
  opacity: 1;
}
.cards-slider.active-slide-5 #card-5 {
  opacity: 1.5;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.cards-slider.active-slide-5 #card-5 .details {
  opacity: 1;
}
.cards-slider.active-slide-6 #card-6 {
  opacity: 1.5;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.cards-slider.active-slide-6 #card-6 .details {
  opacity: 1;
}
.cards-slider.active-slide-7 #card-7 {
  opacity: 1.5;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.cards-slider.active-slide-7 #card-7 .details {
  opacity: 1;
}
.cards-slider.active-slide-8 #card-8 {
  opacity: 1.5;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.cards-slider.active-slide-8 #card-8 .details {
  opacity: 1;
}
.cards-slider.active-slide-9 #card-9 {
  opacity: 1.5;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.cards-slider.active-slide-9 #card-9 .details {
  opacity: 1;
}
.cards-slider.active-slide-10 #card-10 {
  opacity: 1.5;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.cards-slider.active-slide-10 #card-10 .details {
  opacity: 1;
}
.cards-slider.active-slide-11 #card-11 {
  opacity: 1.5;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.cards-slider.active-slide-11 #card-11 .details {
  opacity: 1;
}

.cards-slider {
  position: relative;
  max-width: 226px;
  margin: 0 auto;
  max-width: 0 auto;
}
.cards-slider:after {
  content: '';
  display: block;
  width: 320px;
  height: 434px;
  outline: 5px solid;
  position: absolute;
  /* top: 0; */
  left: 0;
}
body {
  overflow-x: hidden;
  font-family: monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.modal-header {
  text-align: center;
}
.modal-header h5 {
  font-size: 5rem;
  text-align: center;
}
.modal {
  text-align: center;
  height: 600px;
  font-size: 3rem;
  /* display: flex; */
}
.modal button,
.modal-footer button,
.btn-secondary {
  /* display: block; */
  padding: 5rem;
  max-height: 10px !important;
  width: 10px;
  display: table-cell;
  text-align: center;
  align-self: center;
  /* vertical-align: middle; */
  color: white;
  line-height: 0px;
  font-size: 2rem;
}

.star{
  color: goldenrod;
  font-size: 2.0rem;
  padding: 0 1rem; /* space out the stars */
}
.star::before{
  content: '\2606';
  cursor: pointer;
}
.star:hover::before{
  /* the :hover should come first */
  content: '\2605';
  color: #bada55;
}
.star.rated::before{
  /* the :hover should come first */
  content: '\2605';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
