/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Ruhl';
  src: url('/fonts/FrankRuhlLibre-Regular.ttf');
}
@font-face {
  font-family: 'Ruhl Medium';
  src: url('/fonts/FrankRuhlLibre-Medium.ttf');
}
@font-face {
  font-family: 'Stencil';
  src: url('/fonts/stencil.ttf');
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(6rem + 1vw);
  --special-color: #906272;
  --background-color: #414141;
  --gray-text: #525252;
  scroll-behavior: smooth;
  --stencil-font: 'Saira Stencil One', cursive;
}

h1 {
  font-size: var(--header1);
}
li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}
h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  font-family: 'Ruhl', sans-serif;
  animation: opening 1s ease-in-out forwards;
}
h1 {
  font-family: 'Vibes', sans-serif;
}

/* Nav Section */
.main-head {
  background: #f7f7f7;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}
.nav-logo {
  height: 140px;
}
nav {
  padding: 2rem 0rem;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}
.hero {
  min-height: 90vh;
  /* width: 95%; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.hero-logo {
  max-height: 250px;
  margin-top: 5rem;
}
.hero-introduction {
  flex: 40rem 2 1;
  text-align: center;
  background: linear-gradient(#dad8dd, #dad1d4);
  background-position: bottom;
  background-size: cover;
}
.hero2 {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.hero-introduction2 {
  flex: 2 1 40rem;
  text-align: center;
  background: #2b2b2b;
  color: white;
}
.hero-introduction p {
  padding: 5rem 10rem;
  color: var(--gray-text);
}
.hero-introduction h2,
.hero-introduction2 h2 {
  padding-top: 3rem;
  font-family: var(--stencil-font);
}
.hero-introduction a,
.hero-introduction3 a {
  padding: 2rem 8rem;
  border: black 3px solid;
  margin-bottom: 4rem;
}

.hero-images {
  flex: 1 1 40rem;
  background: url('./images/paintbrush-4577578_1920.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.hero-images2,
.service-images {
  flex: 1 1 40rem;
  background: linear-gradient(#59c65b, #dad1d4);
  position: relative;
  z-index: 1;
}
.hero2 a,
.hero3 a {
  padding: 2rem 8rem;
  color: white;
  border: 3px solid white;
}

.hero3 {
  min-height: 160vh;
  margin: auto;
  flex-wrap: wrap;
  overflow: hidden;
  background: linear-gradient(#59c65b, #2b2b2b);
  text-align: center;
}
.hero-introduction3 {
  min-height: 90vh;
  flex-direction: row;
}
.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-introduction3 div,
.services-card div {
  background: #f7f7f7;
  display: flex;
  width: 300px;
  height: 400px;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5rem;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1),
    0px 20px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
/* used to animate once on hover */
.landing-carpentry:hover,
.landing-drywall:hover,
.landing-painting:hover {
  background: #dad1d4;
  border: 3px black solid;
  transform: rotateZ(-45deg) translateY(-300%);
  transition: transform 1s ease-in-out;
}
.landing-drywall,
.landing-painting,
.landing-carpentry {
  width: 300px;
  height: 400px;
  border: 3px black solid;
  background: white;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 0;
  text-align: center;
}
.card-container span {
  width: 300px;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.hero-introduction3 span li {
  margin-top: 1rem;
  margin-left: 1rem;
}

.hero3 h2 {
  margin-top: 7rem;
  font-size: 7rem;
  font-family: var(--stencil-font);
}
.hero3 p {
  padding: 0rem 10rem;
  width: 80%;
  margin: auto;
}
.hero-introduction3 img {
  height: 250px;
}
.blockquote {
  font: 26px italic Times, serif;
  color: white;
  border-bottom: 6px solid #ccc;
  margin: 1.5em 50px;
  padding: 0.5em 10px;
}
.blockquote p {
  margin-top: -2rem;
  padding: 5rem 10rem;
  font: 22px italic Times, serif;
  line-height: 2rem;
}

.hero-painter {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateY(180deg);
}

/* .plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  animation: plant-entrance 1.5s ease-in-out 0.5s forwards,
    plant-shake 2.5s infinite ease alternate-reverse 2s;
  transform-origin: bottom;
  max-height: 80%;
}
.plant2 {
  left: 40%;
} */

/*ANIMATIONS */

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @keyframes plant-entrance {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}
@keyframes plant-shake {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
} */

.burger,
.menu-check {
  display: none;
}

/* ABOUT SECTION */

.about {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.about-text {
  color: white;
  background: #59c65b;
  flex: 2 1 40rem;
  justify-content: space-around;
}
.about-text2 {
  color: white;
  background: #2b2b2b;
  flex: 2 1 40rem;
  justify-content: space-around;
}
.about-text div,
.about-text2 div {
  padding: 3rem 8rem;
}
.about-text h3,
.about-text2 h3 {
  padding: 2rem 0rem;
  font-family: 'Ruhl Medium';
}
.about-text h2,
.about-text2 h2 {
  font-family: 'Vibes';
  padding: 4rem;
}
.about-image {
  flex: 1 1 40rem;
  position: relative;
  background: url('./images/tools-1183374_1920.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-image2 {
  flex: 1 1 40rem;
  position: relative;
  background: #dad1d4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.about-image2 img {
  border-radius: 100%;
  width: 180px;
  height: 180px;
  margin: 2rem;
  image-rendering: optimizeSpeed;
  object-fit: cover;
}
.about-image h5 {
  position: absolute;
  letter-spacing: 2rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SERVICES */
.services {
  text-align: center;
  background: linear-gradient(#dad8dd, #dad1d4);
}
.services img {
  max-height: 500px;
  max-width: 500px;
  cursor: pointer;
}

.services-card {
  min-height: 90vh;
  flex-direction: row;
}
.services-card div {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.services-card div:hover {
  background: #dad1d4;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1),
    0px 20px 20px rgba(0, 0, 0, 0.1);
}
/* slider portion */
.service-images {
  position: relative;
  z-index: 1;
  display: flex;
  width: 180vh;
}

.service-images div {
  display: flex;
  align-items: center;
}
.service-images h3 {
  color: white;
}
.slider-image {
  height: 450px;
  width: auto;
}
.services-card img {
  height: 300px;
  width: 300px;
}
.next-arrow,
.previous-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 80px;
  width: 80px;
  cursor: pointer;
}
.previous-arrow {
  transform: rotateY(180deg);
}

.services h2 {
  margin-bottom: -2rem;
  font-family: var(--stencil-font);
  font-size: 10rem;
}
.services h3 {
  font-family: var(--stencil-font);
  font-size: 5rem;
}
.services h4 {
  color: white;
  /* font-family: var(--stencil-font); */
  font-size: 5rem;
}

.services-framing,
.services-drywall,
.services-painting {
  min-height: 110vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
/* text portion */
.services-introduction,
.services-introduction2 {
  flex: 40rem 1 2;
  text-align: center;
  background: linear-gradient(#2b2b2b, #dad1d4);
  background-position: bottom;
  background-size: cover;
  color: white;
}
.services-introduction {
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
}
.services-introduction2 {
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}
.services p {
  width: 78%;
  margin-top: 3rem;
  position: relative;
}
.services-drywall {
  min-height: 90vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

/* REVIEWS */
.reviews-pg {
  position: relative;
  min-height: 200vh;
  background: linear-gradient(#dad1d4, #59c65b);
  text-align: center;
}
.reviews-pg section {
  background-color: #2b2b2b;
  position: relative;
  height: auto;
  max-height: 80vh;
  display: flex;
  text-align: center;
}
.reviews-pg section img {
  height: auto;
  overflow: hidden;
  object-fit: cover;
}
.reviews-pg section h1,
.reviews-pg section h2 ,.review-introduction h1{
  margin: auto;
  position: relative;
  width: 90%;
  font-size: 5rem;
  text-shadow: -1px 0 black, 0 6px black, 1px 0 black, 0 -1px black;
  color: white;
}
.reviews-pg section h2 {
  font-family: var(--stencil-font);
  font-size: 8rem;
}
.reviews-pg .hero-txt {
  margin: auto;
}
.review-introduction{
  flex: 40rem 2 1;
  max-height: 50rem;
  background: url("./icons/paintingStrips.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: right 35% top -45%;
  /* margin-top: 5rem; */
  background-color: #dad8dd;

}
.review-introduction h1{
  position: relative;
margin-top: 7rem;
  font-size: 7rem;
}

.reviews{
  flex: 1 1 40rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: url("./icons/paintingStrips.png")
}
/* Gallery */
.gallery {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery1 {
  grid-column: 1/3;
}
.gallery2 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.gallery-head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: var(--background-color);
  padding: 5rem 10rem;
  text-align: center;
}

/*CONTACT SECTION */

.contact {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
}
.form-wrapper {
  flex: 3 1 40rem;
}
.form-wrapper h2 {
  margin: 5rem 0rem;
}
.form-wrapper span {
  font-size: var(--big);
  color: var(--special-color);
}
.form-wrapper label {
  display: block;
}
.form-wrapper input {
  display: block;
  margin: 3rem 0rem;
  background: var(--background-color);
  color: white;
  border: none;
  padding: 1rem;
}
.form-wrapper button {
  padding: 1rem 8rem;
  background: var(--special-color);
  color: white;
  border: none;
  width: 100%;
}
.contact img {
  flex: 1 1 40rem;
}

/*FOOTER SECTION */
footer {
  background: var(--background-color);
  color: white;
  display: flex;
  padding: 3rem 5%;
  align-items: center;
  flex-wrap: wrap;
}
footer ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
footer h4 {
  flex: 3 1 40rem;
  font-size: calc(1.4rem + 1vw);
}

button:focus {
  background: var(--background-color);
  color: white;
}
input:focus {
  border: 4px solid #9494c5;
}

@media screen and (max-width: 842px) {
  .hero,
  .hero3 p {
    width: 100%;
  }

  .hero-introduction p,
  .hero3 p {
    padding: 5rem 3rem;
  }
  .hero3 p {
    font-size: 3rem;
  }
  .hero3 div {
    flex-direction: column;
  }
  .card-container .landing-carpentry,
  .card-container .landing-drywall,
  .card-container .landing-painting {
    width: 500px;
  }
  /* BURGER THING */
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: var(--gray-text);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    font-size: var(--header3);
    text-decoration: underline;
  }
  .nav-links {
    background: var(--background-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
    overflow: hidden;
  }
  .menu-check {
    overflow: hidden;
    display: block;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(5%, -50%);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }
  .menu-check span {
    overflow: hidden;
  }
  .menu-check:checked + .nav-links {
    transform: translate(-100%);
  }
  .menu-check:checked ~ .burger span {
    background: white;
    overflow: hidden;
  }

  .nav-open {
    transform: translateX(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }

  /*About section */
  .about-text div {
    padding: 3rem 3rem;
  }
  /* GALLERY*/
  .gallery img {
    grid-row: auto;
    grid-column: auto;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  .gallery-head {
    display: none;
  }
  .contact img {
    display: none;
  }
  footer ul {
    order: 1;
  }
  footer h4 {
    order: 2;
    text-align: center;
    padding: 1rem;
  }
}

@media screen and (min-width: 1700px) {
  html {
    --header1: 3rem;
    --header2: 5rem;
    --header3: 4rem;
    --header4: 3rem;
    --text: 3rem;
    --big: 8rem;
  }
}
